<div style="min-height: 150px; margin-bottom: 16px;">
  <hsr-dropzone [acceptedFiles]="'image/*'" [autoUpload]="false" [maxFiles]="3" (filesUploading)="onFileDrop($event)">
    <i class="fa fa-upload fa-3x"></i>
    <p style="margin: 6px 0 0 0; font-weight: bold;">Hier klicken oder Dateien ablegen!!!</p></hsr-dropzone>
</div>

<div style="display: flex;flex-direction: column; align-items: center;">

  <!--TODO: remove unneeded input and drop-->
  <!-- <input hsrFileInput (onSelected)="onFileDrop($event)" type="file" multiple/>

   <div ng2FileDrop
        class="file-drop"
        [ngClass]="{'file-drop-active': fileIsOver}"
        (fileOver)="fileOver($event)"
        (onFileDrop)="onFileDrop($event)"
        [uploader]="uploader">
     <div class="file-drop-text">Flyer hier droppen!!!</div>
   </div>-->

  <div class="md-card" *ngFor="let flyer of flyersList | async" style="animation: flyin 0.4s ease;">
    <img [src]="flyer.url">
  </div>
</div>


