<md-card *ngFor="let message of chatMessages | async"
         style="margin-top: 8px; padding: 8px; width: 90%;clear: both;"
         [style.float]="hsrAuthService.isAuthor(message.author) ? 'left' : 'right'"
         [style.background-color]="hsrAuthService.isAuthor(message.author) ? '#fdd835' : 'white'">
  <div fxLayout="row" fxLayoutAlign="start start">
    <div style="font-size: x-small;color: gray;">{{message.author}}</div>
    <div style="flex: 1 1 auto;"></div>
    <button md-icon-button
            *ngIf="hsrAuthService.isAuthor(message.author)"
            (click)="editMessage(message.$key)">
      <i class="fa fa-pencil"></i>
    </button>
    <button md-icon-button
            *ngIf="hsrAuthService.isAuthor(message.author)"
            (click)="deleteMessage(message.$key)">
      <i class="fa fa-trash-o"></i>
    </button>
  </div>
  <div [innerHTML]="message.message | linky : {truncate: { length: 32, location: 'middle' }}" style="font-size: small;"></div>
</md-card>
<div style="clear: both; height: 72px;"></div>


<md-card class="message-input" fxLayout="row" fxLayoutAlign="start center">
  <md-input-container fxFlex>
    <input mdInput
           placeholder="Nachricht eingeben..."
           id="message"
           name="message"
           (keydown.enter)="sendMessage(currentMessage)"
           [(ngModel)]="currentMessage.message">
  </md-input-container>
  <button md-icon-button color="accent" (click)="sendMessage(currentMessage)" [disabled]="!currentMessage.message" style="width: 48px;">
    <!--<md-icon fontSet="fa" fontIcon="fa-send" style="width: 36px; height: 36px;"></md-icon>-->
    <md-icon class="fa fa-comment fa-2x"></md-icon>
  </button>
</md-card>
