<md-card style="max-width: 100%">
  <form [formGroup]="fileForm">
    <md-input-container>
      <input mdInput formControlName="title" placeholder="Datei-Titel">
    </md-input-container>
  </form>
  <hsr-dropzone [acceptedFiles]="ACCEPTED_FILETYPES" (fileAdded)="onFileAdded($event)" [autoUpload]="false">
    <p *ngIf="!currentFile">Hier klicken oder Datei ablegen...</p>
    <p *ngIf="currentFile">{{currentFile.name}}</p>
  </hsr-dropzone>

  <md-card-actions align="end">
    <button md-raised-button [disabled]="fileForm.controls['title'].value == ''" (click)="onSubmit()">Speichern</button>
  </md-card-actions>


  <md-button-toggle-group name="view" [value]="view" (change)="setView($event)">
    <md-button-toggle value="list">
      <i class="fa fa-list"></i>
    </md-button-toggle>
    <md-button-toggle value="grid">
      <i class="fa fa-th"></i>
    </md-button-toggle>
  </md-button-toggle-group>
</md-card>

<div style="padding-top: 16px;" *ngIf="view === 'list'">
  <md-nav-list class="card">
    <a md-list-item style="border-bottom: solid 1px lightgray" *ngFor="let file of filesList | async" [href]="file.url" target="_blank">
      <span class="fa-stack fa-lg">
      <i class="fa fa-file-text fa-stack-1x"></i>
      <i class="fa fa-square-o fa-stack-2x"></i>
        </span>
      {{file.title}}
    </a>
  </md-nav-list>
</div>

<div style="padding-top: 16px;box-sizing: border-box;" *ngIf="view === 'grid'">
  <div style="display:flex; flex-direction: column; align-items: center;">
    <div style="width: 100%;max-width: 1200px; padding: 16px; box-sizing: border-box;">
      <md-grid-list cols="4" rowHeight="156px" gutterSize="16px">
        <a [href]="file.url" target="_blank" *ngFor="let file of filesList | async">
          <md-grid-tile class="card card-interactive">
            <button md-icon-button
                    *ngIf="hsrAuthService.isAuthor(file.author)" (click)="onFileDelete($event, file.$key, file.name)"
                    style="position: absolute; top:0; right: 0; min-width: 36px; width: 36px; height: 36px;">
              <i class="fa fa-trash-o"></i>
            </button>
            <div class="centered noselect clickthrough">
              <span class="fa-stack fa-2x">
  <i class="fa fa-square fa-stack-2x"></i>
  <i class="fa fa-file-pdf-o fa-stack-1x fa-inverse"></i>
</span>
              <p>{{file.title}}</p>
            </div>
          </md-grid-tile>
        </a>
      </md-grid-list>
    </div>
  </div>
</div>
