<div style="min-height:150px;box-sizing: border-box;">
  <hsr-dropzone [acceptedFiles]="'image/*'"
                [autoUpload]="false"
                [maxFiles]="300"
                [fileToRemove]="fileToRemove"
                (areFilesInList)="onFilesChanged($event)"
                (filesUploading)="onFilesUploading($event)"
                [height]="120">
    <div class="centered">
      <i *ngIf="!areFilesInList" class="fa fa-upload fa-3x"></i>
      <p *ngIf="!areFilesInList" style="margin: 6px 0 0 0; font-weight: bold;">Hier klicken oder Dateien ablegen...</p>
    </div>
    <!--<md-progress-bar *ngIf="uploadProgress && uploadProgress.percent > 0" mode="determinate" [value]="uploadProgress.percent"></md-progress-bar>-->
    <!--<md-progress-bar *ngIf="uploadProgress && uploadProgress.percent == 0" mode="query"></md-progress-bar>-->
    <div class="centered-bottom">
      <ng2-slim-loading-bar [color]="'darkorange'" [height]="'4px'"></ng2-slim-loading-bar>
    </div>
  </hsr-dropzone>
</div>

<div fxLayout="column" fxLayoutAlign="center center">
  <div style="width: 100%;max-width: 1200px;height: 100%;box-sizing: border-box;">

    <md-grid-list fxHide.xs fxHide.sm cols="3" rowHeight="4:3" gutterSize="8px">
      <md-grid-tile *ngFor="let foto of reversedFotosList | async; let i = index">
        <img (click)="openInGallery(i)" class="card card-interactive" [src]="foto.url">
        <button md-icon-button
                color="accent"
                *ngIf="hsrAuthService.isAuthor(foto.author)"
                (click)="deleteFoto($event, foto.$key)"
                style="position: absolute; top:0; right: 0; min-width: 36px; width: 36px; height: 36px;">
          <i class="fa fa-trash-o"></i>
        </button>
      </md-grid-tile>
    </md-grid-list>

    <md-grid-list fxHide.gt-sm cols="2" rowHeight="1:1" gutterSize="6px">
      <md-grid-tile *ngFor="let foto of reversedFotosList | async; let i = index">
        <img (click)="openInGallery(i)" class="card card-interactive" [src]="foto.url">
        <button md-icon-button
                color="accent"
                *ngIf="hsrAuthService.isAuthor(foto.author)"
                (click)="deleteFoto($event, foto.$key)"
                style="position: absolute; top:0; right: 0; min-width: 36px; width: 36px; height: 36px;">
          <i class="fa fa-trash-o"></i>
        </button>
      </md-grid-tile>
    </md-grid-list>

  </div>
</div>

<gallery-modal></gallery-modal>

