<md-card style="max-width: 100%">
  <form [formGroup]="manualForm" (submit)="onSubmit($event)">

    <div style="display:flex; flex-direction:row;flex-wrap:wrap; align-items: flex-start; justify-content: flex-start;">
      <md-input [type]="text" formControlName="titel" placeholder="Titel"></md-input>
      <input hidden type="text" formControlName="manual">
    </div>

    <div style="display: flex; flex-direction: column; align-items: flex-start;">
      <span>Cover</span>
      <input hsrFileInput (onSelected)="onFileSelected($event)" [reset]="resetFileInput" formControlName="manualFile" type="file"/>

      <div *ngIf="manualForm.controls['manual'].value" style="position: relative;">
        <img style="height: 150px; width: auto;" [src]="manualForm.controls['manual'].value">
        <button md-button
                (click)="deleteCover()"
                style="position: absolute; top: 0px; right: 0px; min-width: 20px; font-size: x-large; background-color: rgba(0,0,0,0.7); color: white;">x
        </button>
      </div>
    </div>

    <div style="display: flex; flex-direction: column; align-items: flex-end; justify-content: flex-end">
      <button md-raised-button [type]="submit" [disabled]="!manualForm.valid">Speichern</button>
    </div>
  </form>
</md-card>

<div style="padding:16px;">
  <md-card style="padding: 0; width: 600px; margin: 8px;" *ngFor="let manual of manualsList | async">
    <h3>{{manual.title}}</h3>
    <a [href]="manual.url" target="_blank">Handbuch öffnen >></a>
    <pre>{{manual | json}}</pre>
  </md-card>
</div>
