<md-card style="max-width: 100%">
  <form [formGroup]="platteForm" (submit)="onSubmit($event)">

    <div style="display:flex; flex-direction:row;flex-wrap:wrap; align-items: flex-start; justify-content: flex-start;">
      <md-input-container>
        <input mdInput formControlName="name" placeholder="Name">
      </md-input-container>
      <md-input-container>
        <input mdInput formControlName="kurzbezeichnung" placeholder="Kurzbezeichnung">
      </md-input-container>
      <md-input-container>
        <input mdInput formControlName="label" placeholder="Label">
      </md-input-container>
      <md-input-container>
        <input mdInput formControlName="sideA" placeholder="Side A">
      </md-input-container>
      <md-input-container>
        <input mdInput formControlName="sideB" placeholder="Side B">
      </md-input-container>
      <md-input-container>
        <input mdInput formControlName="genre" placeholder="Genre">
      </md-input-container>
      <md-input-container>
        <input mdInput type="date" formControlName="year" placeholder="Erscheinungsjahr">
      </md-input-container>
      <md-input-container>
        <input mdInput hidden formControlName="cover">
      </md-input-container>
    </div>

    <md-card-actions align="end">
      <button md-raised-button type="submit" [disabled]="!platteForm.valid">Speichern</button>
    </md-card-actions>
  </form>

</md-card>

<div style="display:flex; flex-direction: column; align-items: center;">
  <div style="width: 100%;max-width: 1200px;height: 100%;padding: 16px;">
    <md-grid-list cols="4" rowHeight="1:1" gutterSize="16px">
      <md-grid-tile *ngFor="let platte of platten | async" [routerLink]="['/platten', platte.$key]">
        <img class="card card-interactive" [src]="platte.cover">
        <div style="background-color: rgba(0,0,0,0.5);color:white;position: absolute; top: 0; left: 0; right: 0;padding: 8px; animation: flyin 0.4s ease;">
          <h4>{{platte.name}}</h4>
          <p>{{platte.label}} - ({{platte.kurzbezeichnung}})</p>
        </div>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>
