<div fxLayout="row" class="mat-elevation-z16" style="position: fixed; left: 0; bottom: 128px; background-color: black; color: white;">
  <div *ngIf="opened">
    <div *ngFor="let track of hsrPlayerService.playList">
      <p [ngStyle]="{'color': track.songPlaying ? '#ffeb3b' : 'white'}">{{track.id}}</p>
    </div>
  </div>
  <div fxLayout="column">

    <button *ngIf="!opened" md-icon-button style="color: white;" (click)="open()">
      <md-icon>keyboard_arrow_right</md-icon>
    </button>

    <button *ngIf="opened" md-icon-button style="color: white;" (click)="close()">
      <md-icon>keyboard_arrow_left</md-icon>
    </button>

    <button md-icon-button style="color: white;" (click)="previous()">
      <md-icon>skip_previous</md-icon>
    </button>
    <button md-icon-button style="color: white;" (click)="next()">
      <md-icon>skip_next</md-icon>
    </button>
    <button md-icon-button style="color: white;" (click)="stop()">
      <md-icon>stop</md-icon>
    </button>
    <button md-icon-button style="color: white;" (click)="playPause()">
      <md-icon *ngIf="hsrPlayerService.playerEvents.playing$ | async">pause</md-icon>
      <md-icon *ngIf="!(hsrPlayerService.playerEvents.playing$ | async)">play_arrow</md-icon>
    </button>

    <button md-icon-button style="color: white;" (click)="toggleLoop()">
      <md-icon [ngStyle]="{'color': hsrPlayerService.loopList ? '#ffeb3b' : 'white'}">loop</md-icon>
    </button>
  </div>
</div>
