a {
  color: white;
  text-decoration: none;
  &:hover {
    color: blueviolet;
  }
}

.nav-button {
  margin: 2px;
  padding: 2px;
  width: 64px;
  cursor: pointer;
}

.active {
  color: white;
}

.info-text {
  font-size: xx-small;
}

.toolbar {
  padding-left: 0;
  background-color: black;
  cursor: pointer;
}
