<md-toolbar class="toolbar">

  <img class="logo" routerLink="" src="assets/hsr_banner1.jpg" alt="HSR"/>

  <span class="flex-fill"></span>

  <span *ngIf="authState && !authState.auth.isAnonymous" class="toolbar-right">
    <a style="cursor: pointer;" (click)="onLogout()">
      <span>Logout</span>
      <i class="fa fa-sign-out"></i>
    </a>
    <div class="hide-mobile">
      <span>{{authState.auth.email}}</span>
    </div>
  </span>

  <span *ngIf="!authState || authState.auth.isAnonymous" class="toolbar-right">
    <a routerLink="login">Login
      <i class="fa fa-sign-out"></i>
    </a>
    <a routerLink="register">Anmelden
      <i class="fa fa-user-plus"></i>
    </a>
  </span>

  <md-toolbar-row *ngIf="authState && !authState.auth.isAnonymous" style="overflow-x: auto;">
    <span><ng-template ngFor let-route [ngForOf]="routes" class="navigation">
      <a md-button
         class="nav-item"
         *ngIf="route.text"
         [routerLink]="route.path"
         routerLinkActive="active-route"
         [routerLinkActiveOptions]="{exact: true}">
        <i class="fa fa-{{route.icon}}"></i>
        {{route.text}}
      </a>
    </ng-template></span>
  </md-toolbar-row>

</md-toolbar>

<div style="max-width: 100%;padding: 8px;">
  <router-outlet></router-outlet>
</div>
