a {
  color: white;
  text-decoration: none;
  &:hover {
    color: blueviolet;
  }
}

.active-route {
  color: blueviolet;
}

.toolbar {
  background-color: black;
}

.logo {
  height: 100%;
  width: auto;
  cursor: pointer;
}
