<md-toolbar color="primary" class="toolbar" style="position: fixed;top: 0; left: 0;z-index: 99;">

  <img class="logo" routerLink="" src="assets/hsr_banner2.png" alt="HSR"/>

  <div style="flex: 1 1 auto;"></div>

  <div *ngIf="auth" class="toolbar-right">
    <a (click)="onLogout()">Logout</a>
    <span *ngIf="auth.auth.email" style="font-size: small;">{{auth.auth.email}}</span>
    <span *ngIf="!auth.auth.email" style="font-size: small;">{{auth.auth.displayName}}</span>
  </div>

  <div *ngIf="!auth" class="toolbar-right">
    <a routerLink="login">Login</a> <a routerLink="register">Registrieren</a>
  </div>

  <md-toolbar-row *ngIf="auth">
    <template ngFor let-route [ngForOf]="routes" class="navigation">
      <a md-button class="nav-item" *ngIf="route.text" [routerLink]="route.path" routerLinkActive="active-route" [routerLinkActiveOptions]="{exact: true}">{{route.text}}</a>
    </template>
  </md-toolbar-row>

</md-toolbar>

<div style="margin-top: 128px;">
  <router-outlet></router-outlet>
</div>

