a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: blueviolet;
}

a.active-route {
  color: darkorange;
}

.toolbar {
  background-color: black;
  padding: 0;
  .toolbar-right {
    padding: 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.logo {
  cursor: pointer;
  height: 100%;
  width: auto;
  filter: invert(100%);
}
