<md-card style="max-width: 100%">
  <form [formGroup]="platteForm" (submit)="onSubmit($event)">

    <div style="display:flex; flex-direction:row;flex-wrap:wrap; align-items: flex-start; justify-content: flex-start;">
      <md-input [type]="text" formControlName="name" placeholder="Name"></md-input>
      <md-input [type]="text" formControlName="kurzbezeichnung" placeholder="Kurzbezeichnung"></md-input>
      <md-input [type]="text" formControlName="label" placeholder="Label"></md-input>
      <md-input [type]="text" formControlName="sideA" placeholder="Side A"></md-input>
      <md-input [type]="text" formControlName="sideB" placeholder="Side B"></md-input>
      <md-input [type]="text" formControlName="genre" placeholder="Genre"></md-input>
      <md-input [type]="date" formControlName="year" placeholder="Erscheinungsjahr"></md-input>
      <input hidden type="text" formControlName="cover">
    </div>

    <div style="display: flex; flex-direction: column; align-items: flex-start;">
      <span>Cover</span>
      <input hsrFileInput (onSelected)="onFileSelected($event)" [reset]="resetFileInput" type="file"/>

      <div *ngIf="platteForm.controls['cover'].value" style="position: relative;">
        <img style="height: 150px; width: auto;" [src]="platteForm.controls['cover'].value">
        <button md-button
                (click)="deleteCover()"
                style="position: absolute; top: 0px; right: 0px; min-width: 20px; font-size: x-large; background-color: rgba(0,0,0,0.7); color: white;">x
        </button>
      </div>
    </div>

    <md-card-actions align="end">
      <button md-raised-button [type]="submit" [disabled]="!platteForm.valid">Speichern</button>
    </md-card-actions>
  </form>

</md-card>

<div style="display:flex; flex-direction: column; align-items: center;">
  <div style="width: 100%;max-width: 1200px;height: 100%;padding: 16px;">
    <md-grid-list cols="4" rowHeight="1:1" gutterSize="16px">
      <md-grid-tile *ngFor="let platte of platten | async" [routerLink]="['/platten', platte.$key]">
        <img class="card card-interactive" [src]="platte.cover">
        <div style="background-color: rgba(0,0,0,0.5);color:white;position: absolute; top: 0; left: 0; right: 0;padding: 8px; animation: flyin 0.4s ease;">
          <h4>{{platte.name}}</h4>
          <p>{{platte.label}} - ({{platte.kurzbezeichnung}})</p>
        </div>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>
