<div fxLayout="column" class="mat-elevation-z16 player" [ngClass]="{'opened': opened, 'closed': !opened}">
  <div fxLayout="row">
    <div fxLayout="column">
      <div class="playlist">
        <md-nav-list dense>
          <md-list-item *ngFor="let track of hsrPlayerService.playList; let i = index"
                        (click)="playAtIndex(i)"
                        [ngStyle]="{'color': track.songPlaying ? '#ffeb3b' : '', 'background-color': track.songPlaying ? 'black' : ''}">
            <p style="font-size: small;">{{track.id}}</p>
          </md-list-item>
        </md-nav-list>
      </div>
      <md-divider style="background-color: lightgrey;"></md-divider>
      <div fxLayout="row" fxLayoutAlign="start center" class="slider">
        <md-slider style="width: 100%;" [tick-interval]="60" [max]="duration" [min]="0" [value]="position" (change)="setPosition($event)"></md-slider>
      </div>
    </div>
    <div fxLayout="column" class="player-nav">
      <button md-icon-button style="color: white;" (click)="previous()">
        <md-icon>skip_previous</md-icon>
      </button>
      <button md-icon-button style="color: white;" (click)="next()">
        <md-icon>skip_next</md-icon>
      </button>
      <button md-icon-button style="color: white;" (click)="stop()">
        <md-icon>stop</md-icon>
      </button>
      <button md-icon-button style="color: white;" (click)="playPause()">
        <md-icon *ngIf="hsrPlayerService.playerEvents.playing$ | async">pause</md-icon>
        <md-icon *ngIf="!(hsrPlayerService.playerEvents.playing$ | async)">play_arrow</md-icon>
      </button>

      <button md-icon-button style="color: white;" (click)="toggleLoop()">
        <md-icon [ngStyle]="{'color': hsrPlayerService.loopList ? '#ffeb3b' : 'white'}">loop</md-icon>
      </button>
      <div fxFlex></div>
      <div style="font-family: Roboto, 'Helvetica Neue', sans-serif; font-size: small; color: white; text-align: center;">
        <p>{{position | time}}</p>
      </div>
    </div>

    <div class="opener">
      <button *ngIf="!opened" md-icon-button style="color: white;" (click)="open()">
        <md-icon style="padding-left: 22px;">keyboard_arrow_right</md-icon>
      </button>

      <button *ngIf="opened" md-icon-button style="color: white;" (click)="close()">
        <md-icon style="padding-left: 18px;">keyboard_arrow_left</md-icon>
      </button>
    </div>
  </div>

</div>
