.player {
  position: fixed;
  bottom: 10%;
  transition: 0.4s;
  max-height: 204px;
  &:hover {
    .opener {
      opacity: 1;
    }
  }
  &.opened {
    left: 0;
    .opener {
      opacity: 1;
    }
  }
  &.closed {
    left: -300px;
    &:hover {
      left: -260px;
    }
  }

}

.playlist {
  max-width: 260px;
  background-color: white;
  color: black;
  overflow-y: auto;
}

.opener {
  opacity: 0.5;
  transition: 0.4s;
  z-index: -1;
  position: absolute;
  top: 80px;
  right: -24px;
  width: 48px;
  height: 48px;
  background-color: black;
  color: white;
  border-radius: 50%;
  &:hover {
    opacity: 1;
  }
  md-icon {
    font-size: 28px;
    line-height: 32px;
  }
}

.player-nav {
  background-color: black;
  color: white;
}
