.player {
  position: fixed;
  bottom: 10%;
  transition: 0.4s;
  max-height: 260px;
  &:hover {
    .opener {
      opacity: 1;
    }
  }
  &.opened {
    left: 0;
    .opener {
      opacity: 1;
    }
  }
  &.closed {
    left: -300px;
    &:hover {
      left: -260px;
    }
  }

}

.playlist {
  min-width: 260px;
  width: 260px;
  max-width: 260px;
  box-sizing: border-box;
  max-height: 204px;
  background-color: white;
  color: black;
  overflow-y: scroll;
}

.opener {
  opacity: 0.5;
  transition: 0.4s;
  z-index: -1;
  position: absolute;
  top: 80px;
  right: -24px;
  width: 48px;
  height: 48px;
  background-color: black;
  color: white;
  border-radius: 50%;
  &:hover {
    opacity: 1;
  }
  md-icon {
    font-size: 28px;
    line-height: 32px;
  }
}

.player-nav {
  background-color: black;
  color: white;
}

.slider {
  background-color: white;
  max-height: 24px;
}

.playing {
  color: #fdd835;
  background-color: black;
  font-weight: bold;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0 none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border: 0 none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}
