<div class="dropzone-container">
  <div id="dropzone-drop-area"
       class="dropzone-drop-area"
       [style.height.px]="height"
       [ngClass]="{'file-limit-reached': fileLimitReached && !fileLimitExceeded, 'file-limit-exceeded': fileLimitExceeded}">
    <div class="noselect clickthrough" style="width: 100%;">
      <ng-content></ng-content>
    </div>
  </div>
  <div class="error-messages">
    <div *ngIf="fileLimitReached && !fileLimitExceeded" style="color: darkorange;">Maximale Dateianzahl erreicht!</div>
    <div *ngIf="fileLimitExceeded">Maximale Dateianzahl überschritten! Entferne {{countFiles() - maxFiles}} Dateien.</div>
  </div>

  <button md-raised-button color="accent" style="float: right;" *ngIf="fileDropped && !autoUpload" [disabled]="fileLimitExceeded" (click)="upload()">
   Hochladen
  </button>
</div>




