<md-card style="max-width: 100%">
  <form [formGroup]="plattenDetailsForm" (submit)="onSubmit($event)">

    <div style="display:flex; flex-direction:row;flex-wrap:wrap; align-items: flex-start; justify-content: flex-start;">
      <md-input [type]="text" formControlName="name" placeholder="Name"></md-input>
      <md-input [type]="text" formControlName="kurzbezeichnung" placeholder="Kurzbezeichnung"></md-input>
      <md-input [type]="text" formControlName="label" placeholder="Label"></md-input>
      <md-input [type]="text" formControlName="sideA" placeholder="Side A"></md-input>
      <md-input [type]="text" formControlName="sideB" placeholder="Side B"></md-input>
      <md-input [type]="text" formControlName="genre" placeholder="Genre"></md-input>
      <md-input [type]="date" formControlName="year" placeholder="Erscheinungsjahr"></md-input>
      <input hidden type="text" formControlName="cover">
    </div>

    <div style="display: flex; flex-direction: column; align-items: flex-start;">
      <span>Cover</span>
      <input hsrFileInput (onSelected)="onFileSelected($event)" [reset]="resetFileInput" type="file"/>

      <div *ngIf="plattenDetailsForm.controls['cover'].value" style="position: relative;">
        <img style="height: 150px; width: auto;" [src]="plattenDetailsForm.controls['cover'].value">
        <button md-button
                (click)="deleteCover()"
                style="position: absolute; top: 0px; right: 0px; min-width: 20px; font-size: x-large; background-color: rgba(0,0,0,0.7); color: white;">x
        </button>
      </div>
    </div>

    <md-card-actions align="end">
      <!--TODO: make router link work-->
      <!--<button md-raised-button [type]="submit" [disabled]="!plattenDetailsForm.valid" [routerLink]="['/platten']">Speichern</button>-->
      <button md-raised-button [type]="submit" [disabled]="!plattenDetailsForm.valid">Speichern</button>
    </md-card-actions>
  </form>
</md-card>
