<md-card style="max-width: 100%">
  <form [formGroup]="plattenDetailsForm" (submit)="onSubmit($event)">

    <div style="display:flex; flex-direction:row;flex-wrap:wrap; align-items: flex-start; justify-content: flex-start;">
      <md-input [type]="text" formControlName="name" placeholder="Name"></md-input>
      <md-input [type]="text" formControlName="kurzbezeichnung" placeholder="Kurzbezeichnung"></md-input>
      <md-input [type]="text" formControlName="label" placeholder="Label"></md-input>
      <md-input [type]="text" formControlName="sideA" placeholder="Side A"></md-input>
      <md-input [type]="text" formControlName="sideB" placeholder="Side B"></md-input>
      <md-input [type]="text" formControlName="genre" placeholder="Genre"></md-input>
      <md-input [type]="date" formControlName="year" placeholder="Erscheinungsjahr"></md-input>
      <input hidden type="text" formControlName="cover">
    </div>

    <md-card-actions align="end">
      <!--TODO: make router link work-->
      <!--<button md-raised-button [type]="submit" [disabled]="!plattenDetailsForm.valid" [routerLink]="['/platten']">Speichern</button>-->
      <button md-raised-button [type]="submit" [disabled]="!plattenDetailsForm.valid">Speichern</button>
    </md-card-actions>
  </form>
</md-card>
