/* You can add global styles to this file, and also import other style files */

html, body {
  font-family: 'Special Elite', cursive;
  margin: 0;
  padding: 0;
}

body {
  background-color: darkgrey;
  position: relative;
}

::selection {
  background-color: blueviolet;
  color: white;
}

::-moz-selection {
  background-color: blueviolet;
  color: white;
}

a {
  color: blueviolet;
  text-decoration: none;
}

a:hover {
  color: darkorange;
}

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: xx-large;
  background-color: black;
}

/* below is needed for angular material 2 */
/** The overlay-container is an invisible element which contains all individual overlays. */
.md-overlay-container {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/** A single overlay pane. */
.md-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
}

