.dropzone-container {
  width: 100%;
  padding-bottom: 40px;
  position: relative;
}

.dropzone-drop-area {
  border: dashed 2px grey;
  width: 100%;
  min-height: 120px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  cursor: pointer;
  position: relative;
  &:hover {
    color: darkorange;
    border-color: darkorange;
  }
}

.error-messages {
  font-size: medium;
  color: red;
  float: left;
  padding: 16px;
}

.file-limit-reached {
  border-color: darkorange !important;
}

.file-limit-exceeded {
  border-color: red !important;
}

