<form>
  <md-input type="text" placeholder="Titel" id="title" name="title" required [(ngModel)]="currentEntry.title"></md-input>
  <hsr-tinymce [htmlContent]="inContent"></hsr-tinymce>
  <button md-raised-button (click)="saveEntry(currentEntry)">Speichern</button>
</form>


<md-card *ngFor="let blog of blogEntries | async" style="margin: 16px;">
  <h1>{{blog.title}}</h1>
  <h5>{{blog.author}}</h5>
  <div [innerHTML]="blog.content | safe"></div>
  <button md-button (click)="deleteEntry(blog.$key)" style="position: absolute; top: 16px; right: 8px; min-width: 20px; font-size: x-large;">x</button>
</md-card>
